<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PlgDir" value="Plugins"/>
    <add key="PginRepoPath" value="Plugins\Repositories"/>
    <add key="PluginPickerDirectory" value="Plugins\Pickers"/>
    <add key="BackgroundImagePath" value="Content\Backgrounds"/>
  </appSettings>
    
</configuration>